.container{padding:0.01em 16px}
.light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}
.padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.rows{
    border-bottom:1px solid lightgrey;
}
.header{
    border-bottom:1px solid lightgrey;
}